
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
font-family: 'Roboto', sans-serif;
}

nav {
background: rgba(88, 238, 200, 0.685) ;
height: 60px;
width: 100%;

}
label.logo {
    color: white;
    font-size: 18px;
    line-height: 80px;
   
    font-weight: 800;
}

nav ul {
   
    float: right;
    margin-right: 20px;
}

nav ul li{
    
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 7px 12px;
    text-transform: uppercase ;
}

a.active, a:hover {
    background-color:rgb(255, 102, 0); 
    color: black;
    opacity: 0.5;
}

.container-fluid {
    background: rgba(88, 238, 200, 0.685);
   
   font-size: 30px;
   font-family: 'Oswald', sans-serif;
   

}
.container-fluid li a:hover
{
    background-color:black; 
    color: black;
    opacity: 0.5;
}

.giris {
    background: url(arkaplan-2.jpg)    no-repeat  ;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    font-size: 80px;
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: center;
}

.buttons button {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 115, 0);
    border: solid 1px red;
    cursor: pointer;
    outline: none;
    border-radius: 25px;
}

.buttons button:hover {
background: black;

}


.hobiler {
    background: rgba(88, 238, 225, 0.685);
    text-align: center;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    border-radius: 5px;
    
    
}

.resimler {
    height: 750px;
    

}

.yemek {
    height: 900px;
}

.col .resimler{
    background: rgba(158, 55, 243, 0.685);
    font-family: 'Oswald', sans-serif;
}

.Slider {
    height: 650px;
}

.sehrim {
    background: rgba(88, 238, 200, 0.685);
    text-align: center;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    height: 500vh;
    

}

.yemekler {
    background: rgba(243, 99, 55, 0.685);
    text-align: center;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
   height: 350vh;
}
.gezilecek {
    background: rgba(88, 238, 200, 0.685);
    text-align: center;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    height: 400vh;
    


}

.gezi{
    height: 1100px;
}

.col .gezi{
    background: rgba(243, 99, 55, 0.685);
    color: white;
    font-family: 'Oswald', sans-serif;
}

.gelenek{
    background: rgba(243, 99, 55, 0.685);
    text-align: center;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;

}
@media screen and (max-width: 800px)
{
    .giris {
        background: url(arkaplan-2.jpg)    no-repeat  ;
        background-size: 80vh;
    
        width: 100%;
        height: 150vh;
        font-size: 100px;
        font-family: 'Oswald', sans-serif;
        color: white;
        text-align: center;
    }
    .sehrim {
        background: rgba(88, 238, 200, 0.685);
        text-align: center;
        font-size: 30px;
        font-family: 'Oswald', sans-serif;
        height: 1000vh;
        
    
    }
    .yemek {
        height: 1200px;
    }
    .gezi{
        height: 1750px;
    }
    .yemekler {
        background: rgba(243, 99, 55, 0.685);
        text-align: center;
        font-size: 30px;
        font-family: 'Oswald', sans-serif;
       
    }
    .gezilecek {
        background: rgba(88, 238, 200, 0.685);
        text-align: center;
        font-size: 30px;
        font-family: 'Oswald', sans-serif;
        height: 950vh;
        
    
    
    }
    .yöre{
        width: 400px;
        height: 150px;
    }
    .gelenek{
        background: rgba(243, 99, 55, 0.685);
        text-align: center;
        font-size: 30px;
        font-family: 'Oswald', sans-serif;
        height: 770vh;
    }
    .Slider {
        height: 500px;
    }
    
}


.miras{
    background: rgba(243, 99, 55, 0.685);
    text-align: center;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}


.card .card-body{
    background: rgba(88, 238, 200, 0.685) ;
}

.özgecmis{
    text-align: center;
    
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    background: rgba(88, 238, 200, 0.685);
}

.bölen{
    border: none;
    border-top: 5px solid red ;
    color: red ;
    border-radius: 5px;

    text-align: center;
}

.cizen{
    border: none;
    border-top: 5px solid blue ;
    color: blue;
    border-radius: 5px;
   
    text-align: center;
}

.ilgilialan{
    text-align: center;
    
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    background: rgba(243, 99, 55, 0.685) ;

}
@media screen and (max-width: 800px) {
    .özgecmis{
        text-align: center;
       
        font-size: 30px;
        font-family: 'Oswald', sans-serif;
        background: rgba(88, 238, 200, 0.685);
    }
    .ilgilialan{
        text-align: center;
        
        font-size: 30px;
        font-family: 'Oswald', sans-serif;
        background: rgba(243, 99, 55, 0.685) ;
    
    }
}